.navbar .btn-outline-light:hover {
  color: var(--bs-dark);
}

.navbar .btn-outline-light:hover {
  color: var(--bs-dark);
}

* {
  scroll-behavior: smooth;
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header,
.carousel {
  background: url(/img/pages/bg-p2.png) center center no-repeat;
  background-size: cover;
}

.nos-valeurs {
  min-height: 100vh;
  min-height: 100svh;
}

.card-group {
  background: #b6e4c5;
}

.card {
  box-shadow: inset -1rem -4rem 80rem #b6e4c5;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
}

#photo-testim-1 {
  aspect-ratio: 1;
  height: 120px;
  filter: brightness(1.2);
  object-fit: cover;
}

.footer .team-members :nth-child(1) {
  border: 0.05rem solid rgb(6, 170, 91);
  transition: all 0.5s ease;
}

.footer .team-members :nth-child(1):hover {
  transform: translateY(-3px) scale(1.03);
}

.footer .team-members :nth-child(2) {
  border: 0.05rem solid rgb(6, 170, 91);
  transition: all 0.5s ease;
}

.footer .team-members :nth-child(2):hover {
  transform: translateY(5px) scale(1.03);
}

.footer .team-members :nth-child(3) {
  border: 0.05rem solid rgb(6, 170, 91);
  transition: all 0.5s ease;
}

.footer .team-members :nth-child(3):hover {
  transform: translateY(-6px) scale(1.08);
}

.footer .team-members :nth-child(4) {
  border: 0.05rem solid rgb(6, 170, 91);
  transition: all 0.5s ease;
}

.footer .team-members :nth-child(4):hover {
  transform: translateY(8px) scale(1.1);
}

// carousel:
.carousel-inner {
  cursor: pointer;
  transition: all 0.5s ease;
}
.carousel-inner:hover {
  transform: translateY(-3px) scale(1.03);
}

// *****************************page 2 : contact
.map iframe {
  left: 0;
  top: 0;
  height: 400px;
  width: 100%;
  border: none;
  outline: none;
}
/***********************************************/

// *************
// footer
footer {
  position: relative;
}

#big-logo {
  max-width: 460px;
  transition: all 0.4s ease-in-out;
}

#big-logo:hover {
  border: 0.05rem solid #b6e4c5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
}

// to the moon btn :

.to-the-moon-btn {
  position: absolute;
  bottom: -0.8rem;
  right: -1rem;
  display: flex;
  flex-direction: column;
  border-right-color: var(--bg-color);
}
.to-the-moon-btn i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--second-bg-color);
  border-radius: 50%;
  backdrop-filter: brightness(80%);
  font-size: 20px;
  gap: 17px;
  box-shadow: 0 0 20px transparent;
  cursor: pointer;
  transition: all 0.8s ease;
  background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ff0000);
  background-size: 400% 400%;
  animation: gradientAnimation 10s infinite;
}
.to-the-moon-btn i:hover {
  transform: scale(1.4) rotate(360deg);
  box-shadow: 0 0 20px var(--btn-color);
  color: white;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 1000px) {
  .hero .image-container {
    display: flex;
    justify-content: center;
  }
  .hero .text-container {
    text-align: center;
  }
  #big-logo {
    max-width: 230px;
  }
}

@media (max-width: 766px) {
  .footer-imgs {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #big-logo {
    max-width: 440px;
    margin-top: 1.8rem;
  }
}

@media (max-width: 516px) {
  .footer-imgs {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    width: 95%;
  }
  #big-logo {
    display: grid;
    place-content: center;
    max-width: 100%;
    margin-top: 1.5rem;
  }
  .to-the-moon-btn i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
  }
}
